cmake-build-*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
.idea
.vscode
testdata
comp-test
gnalc_arm
gnalc
test.c
test.ll
test copy.ll
test.s
.gdb_history
test copy.s
.gdb_history
functional25